.bc-chart-area {
  box-sizing: border-box;
  display: flex;
  flex-direction: column; // change to column-reverse if title to be displayed below chart
  width: 100%; // default
  height: 500px; // default
  background-color: #FFF;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif; // default
  font-size: 12px;
  font-weight: 300;
  border: 2px solid #000;
  padding: 10px;
}

.bc-title {
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  padding: 10px;
}

.bc-body-grid {
  flex-grow: 1;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    'vertical-axis plot-area'
    '. horizontal-axis'
    'legend legend';
  justify-content: stretch;
}

%bc-vertical-axis {
  grid-area: vertical-axis;
  display: flex;

  & > h6 {
    writing-mode: vertical-rl;
    text-align: center;
    transform: rotate(180deg);
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 10px 0;
  }

  & > ul {
    display: flex;
    flex-direction: column-reverse;
    list-style: none;
    margin: 0;
    padding: 0 10px;

    & li {
      flex-grow: 1;
      height: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0;
    }

  }
}

.bc-y-axis-vertical {
  @extend %bc-vertical-axis;
  & > ul li {
    transform: translate(0, 50%);
  }
}

.bc-x-axis-horizontal {
  @extend %bc-vertical-axis;
  & > ul li {
    margin: 10px 0;
  }
}

%bc-plot-area-wrapper {
  grid-area: plot-area;
  position: relative;
  display: flex;
}

.bc-plot-area-wrapper-vertical {
  @extend %bc-plot-area-wrapper;
  flex-direction: column;
  border-left: 1px solid #000;
}

.bc-plot-area-wrapper-horizontal {
  @extend %bc-plot-area-wrapper;
  flex-direction: row-reverse;
  border-bottom: 1px solid #000;
}


%bc-grid-line {
  flex-grow: 1;
  position: relative;

  &::before {
    position: absolute;
    background-color: #000;
    content: '';
  }
}

.bc-grid-line-vertical {
  @extend %bc-grid-line;
  border-bottom: 1px dashed #EEE;

  &::before {
    bottom: -1px;;
    left: -5px;
    width: 5px;
    height: 1px;
  }
}

.bc-grid-line-horizontal {
  @extend %bc-grid-line;
  border-left: 1px dashed #EEE;

  &::before {
    left: -1px;;
    bottom: -5px;
    height: 5px;
    width: 1px;
  }
}

.bc-grid-line-origin-vertical {
  @extend .bc-grid-line-vertical;
  border-bottom: 1px solid #000;
}

.bc-grid-line-origin-horizontal {
  @extend .bc-grid-line-horizontal;
  border-left: 1px solid #000;
}

%bc-plot-area {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.bc-plot-area-vertical {
  @extend %bc-plot-area;
  bottom: 1px;
}

.bc-plot-area-horizontal {
  @extend %bc-plot-area;
  flex-direction: column-reverse;
  left: 1px;
}

%bc-data-group {
  flex-grow: 1;
  display: flex;
}

%bc-data-group-vertical {
  @extend %bc-data-group;
  width: 0;
  margin: 0 10px; // user-defined - 10px = 0.5 * spaceBetween
}

.bc-data-group-inline-vertical {
  @extend %bc-data-group-vertical;
  align-items: flex-end;
}

.bc-data-group-stacked-vertical {
  @extend %bc-data-group-vertical;
  flex-direction: column-reverse;
}

%bc-data-group-horizontal {
  @extend %bc-data-group;
  flex-direction: column;
  height: 0;
  margin: 10px 0; // user-defined - 10px = 0.5 * spaceBetween
}

.bc-data-group-inline-horizontal {
  @extend %bc-data-group-horizontal;
  justify-items: flex-start;
}

.bc-data-group-stacked-horizontal {
  @extend %bc-data-group-horizontal;
  flex-direction: row;
}

.bc-data-series-stacked {
  position: relative;
  background-color: #DDD; // default, user-defined
  transition: all 0.3s ease-out;

  &:hover {
    background-color: #BBB !important;

    & > data {
      color: #FFF !important;
    }
  }
}

.bc-data-series-inline {
  @extend .bc-data-series-stacked;
  flex-grow: 1;
  width: 0;
}

.bc-data-series-stacked-negative {
  @extend .bc-data-series-stacked;
  order: -1;            //so that negative value show at bottom of stack below origin line
}

%bc-data-value-vertical {
  position: absolute;
  left: 50%;
  transition: all 0.3s ease-out;
}

.bc-data-value-top-vertical {
  @extend %bc-data-value-vertical;
  top: 5px;
  transform: translate(-50%, 0);
}

.bc-data-value-middle-vertical {
  @extend %bc-data-value-vertical;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bc-data-value-bottom-vertical {
  @extend %bc-data-value-vertical;
  bottom: 5px;
  transform: translate(-50%, 0);
}

%bc-data-value-horizontal {
  position: absolute;
  top: 50%;
  transition: all 0.3s ease-out;
}

.bc-data-value-right-horizontal { //equivalent to top for vertical
  @extend %bc-data-value-horizontal;
  right: 5px;
  transform: translate(0, -50%);
}

.bc-data-value-center-horizontal {
  @extend %bc-data-value-horizontal;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bc-data-value-left-horizontal { //equivalent to bottom for vertical
  @extend %bc-data-value-horizontal;
  left: 5px;
  transform: translate(0, -50%);
}

%bc-horizontal-axis {
  grid-area: horizontal-axis;
  display: flex;
  flex-direction: column-reverse;

  & > h6 {
    text-align:center;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 0 10px;
  }

  & > ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 10px 0;

    & li {
      flex-grow: 1;
      width: 0;
      display: flex;
      justify-content: center;
    }
  }
}

.bc-x-axis-vertical {
  @extend %bc-horizontal-axis;
  & > ul li {
    margin: 0 10px;
  }
}

.bc-y-axis-horizontal {
  @extend %bc-horizontal-axis;
  & > ul li {
    transform: translate(-50%, 0);
  }

}
