@import 'variables';

.bc-chart-area {
  box-sizing: border-box;
  display: flex;
  flex-direction: column; // change to column-reverse if title to be displayed below chart
  width: 100%; // default
  height: 500px; // default
  @include bc-font-style-mixin('chart');
  background-color: map-get($bc-color, 'chart-background');
  border: 2px solid map-get($bc-color, 'chart-border');
  padding: 10px;

  & *, *::before, *::after {
    box-sizing: border-box;
  }
}

.bc-title {
  display: block;
  text-align: center;
  text-transform: uppercase;
  @include bc-font-style-mixin('title');
  margin: 10px 0 5px;
  padding: 10px;
}

.bc-body-grid {
  flex-grow: 1;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto auto;
  grid-template-areas:
    'vertical-axis plot-area'
    '. horizontal-axis'
    'legend legend';
  justify-content: stretch;
}

%bc-vertical-axis {
  grid-area: vertical-axis;
  display: flex;

  & > h6 {
    writing-mode: vertical-rl;
    text-align: center;
    transform: rotate(180deg);
    margin: 0;
    padding: 10px 0;
  }

  & > ul {
    display: flex;
    flex-direction: column-reverse;
    list-style: none;
    margin: 0;
    padding: 0 10px;

    & li {
      flex-grow: 1;
      height: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0;
    }

  }
}

.bc-x-axis-horizontal {
  @extend %bc-vertical-axis;
  & > h6 {
    @include bc-font-style-mixin('x-axis');
  }
  & > ul li {
    margin: 10px 0;
  }
}

.bc-y-axis-vertical {
  @extend %bc-vertical-axis;
  & > h6 {
    @include bc-font-style-mixin('y-axis');
  }
  & > ul li {
    transform: translate(0, 50%);
  }
}

%bc-plot-area-wrapper {
  grid-area: plot-area;
  position: relative;
  display: flex;
}

.bc-plot-area-wrapper-vertical {
  @extend %bc-plot-area-wrapper;
  flex-direction: column;
  border-left: 1px solid map-get($bc-color, 'axis-line');
}

.bc-plot-area-wrapper-horizontal {
  @extend %bc-plot-area-wrapper;
  flex-direction: row-reverse;
  border-bottom: 1px solid map-get($bc-color, 'axis-line');
}


%bc-grid-line {
  flex-grow: 1;
  position: relative;

  &::before {
    position: absolute;
    background-color: map-get($bc-color, 'tick-mark');
    content: '';
  }
}

.bc-grid-line-vertical {
  @extend %bc-grid-line;
  border-bottom: 1px dashed map-get($bc-color, 'grid-line');

  &::before {
    bottom: -1px;;
    left: -5px;
    width: 5px;
    height: 1px;
  }
}

.bc-grid-line-horizontal {
  @extend %bc-grid-line;
  border-left: 1px dashed map-get($bc-color, 'grid-line');

  &::before {
    left: -1px;;
    bottom: -5px;
    height: 5px;
    width: 1px;
  }
}

.bc-grid-line-origin-vertical {
  @extend .bc-grid-line-vertical;
  border-bottom: 1px solid map-get($bc-color, 'axis-line');
}

.bc-grid-line-origin-horizontal {
  @extend .bc-grid-line-horizontal;
  border-left: 1px solid map-get($bc-color, 'axis-line');
}

%bc-plot-area {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.bc-plot-area-vertical {
  @extend %bc-plot-area;
  bottom: 1px;
}

.bc-plot-area-horizontal {
  @extend %bc-plot-area;
  flex-direction: column-reverse;
  left: 1px;
}

%bc-data-group {
  flex-grow: 1;
  display: flex;
}

%bc-data-group-vertical {
  @extend %bc-data-group;
  width: 0;
  margin: 0 10px; // user-defined - 10px = 0.5 * spaceBetween
}

.bc-data-group-inline-vertical {
  @extend %bc-data-group-vertical;
  align-items: flex-end;
}

.bc-data-group-stacked-vertical {
  @extend %bc-data-group-vertical;
  flex-direction: column-reverse;
}

%bc-data-group-horizontal {
  @extend %bc-data-group;
  flex-direction: column;
  height: 0;
  margin: 10px 0; // user-defined - 10px = 0.5 * spaceBetween
}

.bc-data-group-inline-horizontal {
  @extend %bc-data-group-horizontal;
  justify-items: flex-start;
}

.bc-data-group-stacked-horizontal {
  @extend %bc-data-group-horizontal;
  flex-direction: row;
}

%bc-data-series {
  position: relative;
  display: flex;
  background-color: map-get($bc-color, 'bar-background'); // default, user-defined
  transition: all 0.3s ease-out;

  &:hover {
    color: map-get($bc-color, 'bar-content-hover') !important;
    background-color: map-get($bc-color, 'bar-background-hover') !important;
  }
}

.bc-data-series-inline {
  @extend %bc-data-series;
  flex-grow: 1;
  width: 0;
}

.bc-data-series-stacked {
  @extend %bc-data-series;
}

.bc-data-series-stacked-negative {
  @extend %bc-data-series;
  order: -1;            //so that negative value show at bottom of stack below origin line
}

%bc-data-value-vertical {
  justify-content: center;

  & > div:first-child {
  padding: 5px 0;
  }
}

.bc-data-value-top-vertical {
  @extend %bc-data-value-vertical;
  align-items: flex-start;
}

.bc-data-value-middle-vertical {
  @extend %bc-data-value-vertical;
  align-items: center;
}

.bc-data-value-bottom-vertical {
  @extend %bc-data-value-vertical;
  align-items: flex-end;
}

%bc-data-value-horizontal {
  align-items: center;

  & > div:first-child {
    padding: 0 5px;
  }
}

.bc-data-value-left-horizontal { //equivalent to bottom for vertical
  @extend %bc-data-value-horizontal;
  justify-content: flex-start;
}

.bc-data-value-center-horizontal {
  @extend %bc-data-value-horizontal;
  justify-content: center;
}

.bc-data-value-right-horizontal { //equivalent to top for vertical
  @extend %bc-data-value-horizontal;
  justify-content: flex-end;
}

%bc-horizontal-axis {
  grid-area: horizontal-axis;
  display: flex;
  flex-direction: column-reverse;

  & > h6 {
    text-align:center;
    margin: 0;
    padding: 0 10px;
  }

  & > ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 10px 0;

    & li {
      flex-grow: 1;
      width: 0;
      display: flex;
      justify-content: center;
    }
  }
}

.bc-x-axis-vertical {
  @extend %bc-horizontal-axis;
  & > h6 {
    @include bc-font-style-mixin('x-axis');
  }
  & > ul li {
    margin: 0 10px;
  }
}

.bc-y-axis-horizontal {
  @extend %bc-horizontal-axis;
  & > h6 {
    @include bc-font-style-mixin('y-axis');
  }
  & > ul li {
    transform: translate(-50%, 0);
  }

}

.bc-legend {
  grid-area: legend;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background-color: map-get($bc-color, 'legend-background');
  margin: 10px 0 0;
  padding: 0 5px;
}

.bc-legend-item {
  flex-grow: 1;
  width: 25%;
  min-width: 100px;
  padding: 5px;
}

.bc-legend-item-square {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: map-get($bc-color, 'bar-background'); //default colour for series
  margin-right: 5px;
}


.bc-info-window {
  position: absolute;
  bottom: calc(100% + 10px);
  right: 50%;
  width: 140px;
  transform: translate(50%, 0);
  color: map-get($bc-color, 'info-window-content');
  background-color: map-get($bc-color, 'info-window-background');
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .3);
  border-radius: 4px;
  padding: 5px;
  z-index: 1;

  &:after {
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    transform: translate(-50%, 0);
    border-top: 10px solid map-get($bc-color, 'bar-content-hover');
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: '';
  }
}

.bc-info-window-series {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 5px;
}

.bc-info-window-group {
  font-size: 1.05em;
  font-weight: 500;
  margin: 0 0 5px 3px;
}

.bc-info-window-value {
  margin-left: 6px;
}
